Repository dokku/dokku, pull requests merged in 2021-10, with the labels that each got.

#4822 Add a note about using the registry:login command for private image deployments
  docs/deployment/methods/git.md
Labels: type: documentation

#4824 Fix GitLab case
  docs/template.html
Labels: type: documentation

#4819 Fixed typo in tar documentation
  docs/deployment/methods/tar.md
Labels: type: documentation

#4810 Handle udp ports when fetching network config
  plugins/network/network.go
  tests/unit/network.bats
Labels: type: bug, merge-level: patch, plugin: network

#4815 tests: use python3 shebang for shellcheck-to-junit script
  tests/shellcheck-to-junit
Labels: type: tests

#4816 Set the DOKKU_HOST_ROOT on docker container start
  docker/etc/my_init.d/10_dokku_init
  docs/getting-started/install/docker.md
Labels: type: bug

#4787 Do not require double quotes when issuing dokku run commands
  plugins/scheduler-docker-local/internal-functions
  plugins/scheduler-docker-local/scheduler-deploy
  plugins/scheduler-docker-local/scheduler-run
Labels: type: bug

#4828 Update golang in test apps to latest version
  tests/apps/go-fail-postdeploy/Dockerfile
  tests/apps/go-fail-predeploy/Dockerfile
  tests/apps/gogrpc/Dockerfile
  tests/apps/gogrpc/go.mod
  tests/apps/gogrpc/go.sum
  tests/apps/zombies-dockerfile-no-tini/Dockerfile
  tests/apps/zombies-dockerfile-tini/Dockerfile
Labels: type: tests

#4840 Explain sha256 image digest alternative when reusing docker image tags for git:from-image deployments
  docs/deployment/methods/git.md
Labels: type: documentation, plugin: git

#4839 Choose the correct app when a named remote is specified in the remote ssh client
  contrib/dokku_client.sh
Labels: type: bug, merge-level: patch

#4836 Fix custom dockerfile path detection
  plugins/builder-dockerfile/builder-build
  plugins/builder-dockerfile/core-post-extract
Labels: type: bug, merge-level: patch, plugin: builders

#4842 Set default process list in test cnb buildpacks
  tests/apps/python/cnb/1/bin/build
  tests/apps/python/cnb/2/bin/build
  tests/apps/python/project2.toml
Labels: type: tests
