Repository dokku/dokku, pull requests merged in 2022-11, with the labels that each got.

#5434 Upgrade to go 1.19 everywhere
  .devcontainer/Dockerfile
  Makefile
  common.mk
  plugins/app-json/go.mod
  plugins/app-json/go.sum
  plugins/apps/go.mod
  plugins/apps/go.sum
  plugins/builder/go.mod
  plugins/builder/go.sum
  plugins/buildpacks/go.mod
  plugins/buildpacks/go.sum
  plugins/common/go.mod
  plugins/common/go.sum
  plugins/config/go.mod
  plugins/config/go.sum
  plugins/cron/go.mod
  plugins/cron/go.sum
  plugins/docker-options/go.mod
  plugins/docker-options/go.sum
  plugins/logs/go.mod
  plugins/logs/go.sum
  plugins/network/go.mod
  plugins/network/go.sum
  plugins/nginx-vhosts/go.mod
  plugins/proxy/go.mod
  plugins/proxy/go.sum
  plugins/ps/go.mod
  plugins/ps/go.sum
  plugins/registry/go.mod
  plugins/registry/go.sum
  plugins/repo/go.mod
  plugins/repo/go.sum
  plugins/resource/go.mod
  plugins/resource/go.sum
  plugins/scheduler/go.mod
  plugins/scheduler/go.sum
  tests.mk
  tests/apps/gogrpc/go.mod
  tests/apps/zombies-buildpack/go.mod
  tests/apps/zombies-dockerfile-no-tini/go.mod
  tests/apps/zombies-dockerfile-tini/go.mod
Labels: type: enhancement

#5321 Implement run:stop command
  docs/processes/one-off-tasks.md
  plugins/run/help-functions
  plugins/run/internal-functions
  plugins/run/subcommands/stop
  plugins/scheduler-docker-local/scheduler-run-stop
Labels: type: enhancement, merge-level: minor, plugin: run

#5322 Implement run:logs command
  docs/development/plugin-triggers.md
  docs/processes/one-off-tasks.md
  plugins/run/help-functions
  plugins/run/internal-functions
  plugins/run/subcommands/logs
  plugins/scheduler-docker-local/scheduler-run-logs
Labels: type: enhancement, merge-level: minor, plugin: run

#5447 Specify correct command for builder-lambda:report
  docs/deployment/builders/lambda.md
Labels: type: documentation

#5448 Do not attempt to attach a network to a container that already has it
  plugins/network/functions.go
  tests/unit/network.bats
Labels: type: bug, merge-level: patch, plugin: network

#5349 Error out when executing caddy and traefik commands without the compose plugin installed
  Dockerfile
  contrib/build-dokku.Dockerfile
  debian/control
  docs/networking/proxies/caddy.md
  docs/networking/proxies/traefik.md
  plugins/caddy-vhosts/command-functions
  plugins/common/functions
  plugins/traefik-vhosts/command-functions
Labels: type: enhancement

#5449 Install goverage via go get
  plugins/app-json/go.mod
  plugins/app-json/go.sum
  plugins/apps/go.mod
  plugins/apps/go.sum
  plugins/builder/go.mod
  plugins/builder/go.sum
  plugins/buildpacks/go.mod
  plugins/buildpacks/go.sum
  plugins/common/go.mod
  plugins/common/go.sum
  plugins/config/go.mod
  plugins/config/go.sum
  plugins/cron/go.mod
  plugins/cron/go.sum
  plugins/docker-options/go.mod
  plugins/docker-options/go.sum
  plugins/logs/go.mod
  plugins/logs/go.sum
  plugins/network/go.mod
  plugins/network/go.sum
  plugins/proxy/go.mod
  plugins/proxy/go.sum
  plugins/ps/go.mod
  plugins/ps/go.sum
  plugins/registry/go.mod
  plugins/registry/go.sum
  plugins/repo/go.mod
  plugins/repo/go.sum
  plugins/resource/go.mod
  plugins/resource/go.sum
  plugins/scheduler/go.mod
  plugins/scheduler/go.sum
  tests.mk
Labels: type: tests

#5430 Clarify that proxy:build-config is required for any nginx:set call
  docs/networking/proxies/nginx.md
Labels: type: documentation

#5345 Always set app created-at via property instead of introspecting on folder creation time
  plugins/apps/functions.go
  plugins/apps/report.go
  plugins/apps/triggers.go
Labels: type: bug, plugin: apps

#5467 Move DOKKU_WAIT_TO_RETIRE to a checks property
  docs/appendices/0.29.0-migration-guide.md
  docs/configuration/environment-variables.md
  docs/deployment/zero-downtime-deploys.md
  docs/development/plugin-triggers.md
  plugins/checks/checks-get-property
  plugins/checks/install
  plugins/checks/internal-functions
  plugins/checks/subcommands/set
  plugins/common/functions
  plugins/scheduler-docker-local/scheduler-deploy
  tests/unit/registry.bats
Labels: type: refactor, merge-level: minor, plugin: checks, type: bc break

#5474 Add missing source call
  plugins/checks/internal-functions
Labels: type: bug

#5473 Add warning when a user is attempting to deploy with an ipv4/ipv6 domain name and has the default nginx site file available
  plugins/domains/core-post-deploy
  plugins/domains/functions
  tests/unit/domains.bats
Labels: type: enhancement, plugin: nginx

#5475 Refactor nginx.conf.sigil to be extracted from a specified path in source code instead of the built image
  docs/appendices/0.29.0-migration-guide.md
  docs/networking/proxies/nginx.md
  plugins/nginx-vhosts/command-functions
  plugins/nginx-vhosts/core-post-deploy
  plugins/nginx-vhosts/core-post-extract
  plugins/nginx-vhosts/functions
  plugins/nginx-vhosts/install
  plugins/nginx-vhosts/internal-functions
  plugins/nginx-vhosts/post-delete
  plugins/nginx-vhosts/subcommands/set
  tests/unit/nginx-vhosts_11.bats
Labels: type: refactor, merge-level: minor, plugin: nginx, type: bc break

#5476 Add fileutils plugin to the devcontainer
  .devcontainer/devcontainer.json
Labels: type: enhancement

#5477 Add missing config_sub entry to config gitignore
  plugins/config/.gitignore
Labels: type: bug

#5479 Cleanup builder code and docs
  docs/deployment/builders/cloud-native-buildpacks.md
  docs/deployment/builders/dockerfiles.md
  docs/deployment/builders/lambda.md
  plugins/builder-dockerfile/internal-functions
  plugins/builder-lambda/internal-functions
  plugins/builder-pack/internal-functions
Labels: type: enhancement

#5478 Allow users to enable herokuish usage on arm/arm64 platforms
  docs/deployment/builders/herokuish-buildpacks.md
  plugins/builder-herokuish/builder-herokuish-allowed
  plugins/builder-herokuish/help-functions
  plugins/builder-herokuish/internal-functions
  plugins/builder-herokuish/subcommands/default
  plugins/builder-herokuish/subcommands/report
  plugins/builder-herokuish/subcommands/set
  plugins/checks/internal-functions
  plugins/git/functions
  tests/unit/builder-herokuish.bats
Labels: type: enhancement

#5484 Add edgedb community plugin
  docs/community/plugins.md
Labels: type: documentation

#5480 Cleanup zero'd out processes when a Procfile omitting those process types is set
  docs/appendices/0.29.0-migration-guide.md
  docs/development/plugin-triggers.md
  docs/networking/proxies/nginx.md
  plugins/app-json/functions.go
  plugins/common/io.go
  plugins/git/git-from-image
  plugins/nginx-vhosts/core-post-deploy
  plugins/nginx-vhosts/core-post-extract
  plugins/ps/Makefile
  plugins/ps/functions.go
  plugins/ps/src/triggers/triggers.go
  plugins/ps/triggers.go
  tests/unit/ps-general-1.bats
  tests/unit/ps-general-2.bats
Labels: type: refactor, merge-level: minor, plugin: ps, type: bc break

#5487 Use a priority when routing requests with traefik
  plugins/traefik-vhosts/docker-args-process-deploy
Labels: merge-level: minor, plugin: traefik

#5491 Add missing http part to traefik routing rule
  plugins/traefik-vhosts/docker-args-process-deploy
Labels: type: bug, plugin: traefik

#5489 Use exit code 137 to signify a lock was unable to be retrieved when calling ps:retire
  plugins/ps/ps.go
  plugins/ps/subcommands.go
  plugins/scheduler-docker-local/install
Labels: type: enhancement, merge-level: minor, plugin: ps

#5490 Add ability to set a custom priority for traefik routing rules
  docs/networking/proxies/traefik.md
  plugins/traefik-vhosts/command-functions
  plugins/traefik-vhosts/docker-args-process-deploy
  plugins/traefik-vhosts/internal-functions
  plugins/traefik-vhosts/post-delete
  plugins/traefik-vhosts/subcommands/set
  tests/unit/traefik.bats
Labels: type: enhancement, merge-level: minor, plugin: traefik

#5494 Silence the warning message when there are no dokku apps on install
  plugins/checks/install
  plugins/domains/install
  plugins/git/install
  plugins/nginx-vhosts/install
Labels: type: enhancement

#5499 Do not use traefik priority in service name
  plugins/traefik-vhosts/docker-args-process-deploy
Labels: type: bug, plugin: traefik

#5493 Correct issue with detection of non-https port mapping as https port mapping
  plugins/caddy-vhosts/docker-args-process-deploy
  plugins/traefik-vhosts/docker-args-process-deploy
  tests/unit/caddy.bats
  tests/unit/traefik.bats
Labels: type: bug, plugin: caddy, plugin: traefik
