Repository dokku/dokku, pull requests merged in 2022-12, with the labels that each got.

#5472 Start started proxies automatically during ps:restore
  docs/appendices/0.29.0-migration-guide.md
  docs/development/plugin-triggers.md
  plugins/20_events/scheduler-pre-restore
  plugins/caddy-vhosts/command-functions
  plugins/caddy-vhosts/pre-restore
  plugins/nginx-vhosts/command-functions
  plugins/nginx-vhosts/install
  plugins/nginx-vhosts/internal-functions
  plugins/nginx-vhosts/pre-restore
  plugins/ps/ps.go
  plugins/ps/subcommands.go
  plugins/scheduler-docker-local/scheduler-pre-restore
  plugins/traefik-vhosts/command-functions
  plugins/traefik-vhosts/pre-restore
  tests/unit/traefik.bats
Labels: type: bug, type: bc break

#5505 Add missing event hooks
  plugins/20_events/checks-get-property
  plugins/20_events/deploy
  plugins/20_events/git-has-code
  plugins/20_events/logs-get-property
  plugins/20_events/network-get-static-listeners
  plugins/20_events/post-build-pack
  plugins/20_events/post-release-pack
  plugins/20_events/pre-build-pack
  plugins/20_events/pre-release-pack
  plugins/20_events/proxy-configure-ports
  plugins/20_events/ps-can-scale
  plugins/20_events/ps-current-scale
  plugins/20_events/ps-set-scale
  plugins/20_events/scheduler-run-logs
Labels: type: bug, merge-level: patch, plugin: events

#5488 De-duplicate proxy building and simplify url generation
  docs/appendices/0.29.0-migration-guide.md
  docs/development/plugin-triggers.md
  plugins/00_dokku-standard/subcommands/urls
  plugins/20_events/builder-image-is-cnb
  plugins/20_events/builder-image-is-herokuish
  plugins/20_events/certs-exists
  plugins/20_events/domains-urls
  plugins/builder/.gitignore
  plugins/builder/Makefile
  plugins/builder/src/triggers/triggers.go
  plugins/builder/triggers.go
  plugins/caddy-vhosts/docker-args-process-deploy
  plugins/certs/certs-exists
  plugins/common/functions
  plugins/common/src/common/common.go
  plugins/domains/domains-urls
  plugins/domains/functions
  plugins/domains/install
  plugins/domains/internal-functions
  plugins/domains/post-app-clone-setup
  plugins/domains/post-app-rename-setup
  plugins/domains/post-create
  plugins/network/network.go
  plugins/nginx-vhosts/core-post-deploy
  plugins/nginx-vhosts/functions
  plugins/nginx-vhosts/proxy-build-config
  plugins/proxy/proxy-configure-ports
  plugins/traefik-vhosts/docker-args-process-deploy
  tests/unit/apps_2.bats
  tests/unit/core_1.bats
  tests/unit/core_2.bats
  tests/unit/domains.bats
  tests/unit/nginx-vhosts_2.bats
  tests/unit/nginx-vhosts_4.bats
  tests/unit/nginx-vhosts_5.bats
  tests/unit/nginx-vhosts_7.bats
  tests/unit/nginx-vhosts_9.bats
  tests/unit/test_helper.bash
Labels: type: refactor

#5506 Add support for escaped plus (+) signs in vector configurations
  plugins/logs/functions.go
  tests/unit/logs.bats
Labels: type: bug, merge-level: patch, plugin: logs

#5507 Add tutorials link to navigation
  contrib/write-mkdocs
  docs/community/tutorials/run-on-external-volume.md
  docs/template.html
Labels: type: documentation

#5509 Update data loss blockquote to be warning
  docs/advanced-usage/persistent-storage.md
Labels: type: documentation

#5516 Fix reference to scheduler name in nomad docs
  docs/deployment/schedulers/nomad.md
Labels: type: documentation

#5517 Fix reference to scheduler name in kubernetes docs
  docs/deployment/schedulers/kubernetes.md
Labels: type: documentation

#5521 Scheduled Cron Tasks: remove deprecated used of `--rm` flag in `dokku run`
  docs/processes/scheduled-cron-tasks.md
Labels: type: documentation

#5531 Fix indentation on heading in where to get help
  docs/getting-started/where-to-get-help.md
Labels: type: documentation

#5532 Fix issue where git:from-image deploys may result in extracted files not being respected
  docs/appendices/0.29.0-migration-guide.md
  docs/deployment/methods/git.md
  docs/development/plugin-triggers.md
  plugins/20_events/git-get-property
  plugins/git/git-from-image
  plugins/git/git-get-property
  plugins/git/internal-functions
  plugins/git/subcommands/set
  plugins/nginx-vhosts/core-post-extract
  plugins/nginx-vhosts/subcommands/set
  plugins/ps/triggers.go
  tests/apps/python/alt.Dockerfile
  tests/unit/nginx-vhosts_12.bats
Labels: type: bug, merge-level: patch, plugin: ps, plugin: nginx, plugin: git

#5533 Add a test case for nested vector-sink values with plus signs
  tests/unit/logs.bats
Labels: type: tests, plugin: logs

#5542 Add json output format support to storage:list
  debian/postinst
  debian/preinst
  docs/advanced-usage/persistent-storage.md
  docs/development/plugin-triggers.md
  plugins/storage/functions
  plugins/storage/help-functions
  plugins/storage/internal-functions
  plugins/storage/storage-list
  tests/unit/storage.bats
Labels: merge-level: patch, plugin: storage

#5543 Properly parse arguments for git:status command
  plugins/git/internal-functions
Labels: type: bug, merge-level: patch, plugin: git

#5544 Exit non-zero when git:from-image deploys fail to start the app
  plugins/git/git-from-directory
  tests/apps/python/alt.Dockerfile
  tests/apps/python/web.py
  tests/unit/git_4.bats
Labels: type: bug, merge-level: patch, plugin: git

#5554 Validate that procfile-path is respected
  plugins/ps/triggers.go
  tests/apps/python/Procfile
  tests/apps/python/second.Procfile
  tests/apps/python/sub-app/Procfile
  tests/apps/python/web.py
  tests/unit/app-json.bats
  tests/unit/ps-general-2.bats
Labels: merge-level: patch, type: tests, plugin: ps

#5555 Drop debugging code from ps plugin
  plugins/ps/functions.go
Labels: type: bug, merge-level: patch, plugin: ps
