Repository dokku/dokku, pull requests merged in 2022-07, with the labels that each got.

#5237 Fix builder-pack:set command example
  docs/deployment/builders/cloud-native-buildpacks.md
Labels: type: documentation, merge-level: patch

#5238 Respect dokku system user/group when setting storage permissions on installation
  plugins/storage/install
Labels: type: bug, merge-level: patch, plugin: storage

#5239 Add builder-type and image-stage labels to all images
  plugins/builder-dockerfile/builder-build
  plugins/builder-herokuish/builder-build
  plugins/builder-pack/builder-build
Labels: type: enhancement, merge-level: patch, plugin: builders

#5232 builder-build fix for DOKKU_DOCKERFILE_CACHE_BUILD and DOKKU_DOCKER_BUILD_OPTS variables
  plugins/builder-dockerfile/builder-build
Labels: type: bug, needs: more info, merge-level: patch

#5255 export DOKKU_COMMAND for use in authentication systems
  plugins/common/functions
Labels: type: enhancement, merge-level: patch, difficulty: easy

#5257 Move nginx.conf.d includes after all other hard-coded config to allow for overrides
  plugins/nginx-vhosts/templates/nginx.conf.sigil
Labels: type: enhancement, merge-level: patch, plugin: nginx

#5262 Run shfmt against all test files
  tests/unit/app-json-2.bats
  tests/unit/app-json-3.bats
  tests/unit/app-json.bats
  tests/unit/apps_1.bats
  tests/unit/apps_2.bats
  tests/unit/build-env.bats
  tests/unit/builder-herokuish.bats
  tests/unit/buildpacks.bats
  tests/unit/client.bats
  tests/unit/config-oddities.bats
  tests/unit/config.bats
  tests/unit/core_1.bats
  tests/unit/cron.bats
  tests/unit/docker-options.bats
  tests/unit/git_3.bats
  tests/unit/network.bats
  tests/unit/nginx-vhosts_1.bats
  tests/unit/nginx-vhosts_10.bats
  tests/unit/nginx-vhosts_4.bats
  tests/unit/nginx-vhosts_5.bats
  tests/unit/nginx-vhosts_6.bats
  tests/unit/proxy.bats
  tests/unit/ps-dockerfile-1.bats
  tests/unit/ps-dockerfile-2.bats
  tests/unit/ps-general.bats
  tests/unit/ps-herokuish-1.bats
  tests/unit/ps-herokuish-2.bats
  tests/unit/resource_1.bats
  tests/unit/resource_2.bats
  tests/unit/run_2.bats
  tests/unit/ssh_keys.bats
Labels: type: enhancement, merge-level: patch

#5263 Update deprecated apt-key command
  bootstrap.sh
  deb.mk
  docs/getting-started/install/debian.md
  docs/home.html
Labels: type: bug

#5272 Add support for --global as app name when calling config-get trigger
  plugins/common/docker.go
  plugins/config/src/triggers/triggers.go
Labels: type: bug, merge-level: patch, plugin: config, plugin: common

#5273 Correct issue where more complex docker args were not properly parsed when scheduling containers
  plugins/scheduler-docker-local/internal-functions
  tests/unit/scheduler-docker-local.bats
Labels: type: bug, merge-level: patch, plugin: schedulers
