Repository dokku/dokku, pull requests merged in 2023-11, with the labels that each got.

#6324 Update openresty image to 0.6.0
  plugins/openresty-vhosts/internal-functions
Labels: type: enhancement

#6325 Add documentation on openresty includes
  docs/networking/proxies/openresty.md
Labels: type: documentation, plugin: openresty

#6317 Replace deprecated builder reference in persistent-storage.md
  docs/advanced-usage/persistent-storage.md
Labels: type: documentation

#6315 Correct key in dependency file to fix docker-container-healthchecker installs on local arm64 servers
  contrib/dependencies.json
Labels: type: bug, type: dependencies

#6314 Remove reference to DOKKU_SCHEDULER environment variable in favor of scheduler:set
  docs/deployment/schedulers/docker-local.md
Labels: type: documentation, plugin: schedulers

#6339 Fixed link to vector sink documentation
  docs/deployment/logs.md
Labels: type: documentation

#6346 Update all go modules and add a command to bump modules
  .devcontainer/bin/bump-modules
  plugins/app-json/go.mod
  plugins/app-json/go.sum
  plugins/apps/go.mod
  plugins/apps/go.sum
  plugins/builder/go.mod
  plugins/builder/go.sum
  plugins/buildpacks/go.mod
  plugins/buildpacks/go.sum
  plugins/common/go.mod
  plugins/common/go.sum
  plugins/config/go.mod
  plugins/config/go.sum
  plugins/cron/go.mod
  plugins/cron/go.sum
  plugins/docker-options/go.mod
  plugins/docker-options/go.sum
  plugins/logs/go.mod
  plugins/logs/go.sum
  plugins/network/go.mod
  plugins/network/go.sum
  plugins/ports/go.mod
  plugins/ports/go.sum
  plugins/proxy/go.mod
  plugins/proxy/go.sum
  plugins/ps/go.mod
  plugins/ps/go.sum
  plugins/registry/go.mod
  plugins/registry/go.sum
  plugins/repo/go.mod
  plugins/repo/go.sum
  plugins/resource/go.mod
  plugins/resource/go.sum
  plugins/scheduler-docker-local/go.mod
  plugins/scheduler-docker-local/go.sum
  plugins/scheduler/go.mod
  plugins/scheduler/go.sum
Labels: type: enhancement

#6345 Use updated pre-build trigger for builder-herokuish
  plugins/builder-herokuish/pre-build
Labels: type: bug, plugin: builders

#6359 Update buildpack api for test buildpack
  tests/apps/python/cnb/1/bin/build
  tests/apps/python/cnb/1/buildpack.toml
  tests/apps/python/cnb/2/bin/build
  tests/apps/python/cnb/2/buildpack.toml
Labels: type: tests

#6313 Set the platform flag in order to run amd64 images on arm64 deploy targets
  docs/deployment/schedulers/docker-local.md
  plugins/scheduler-docker-local/bin/scheduler-deploy-process-container
  plugins/scheduler-docker-local/scheduler-run
Labels: type: enhancement, plugin: schedulers
