Repository dokku/dokku, pull requests merged in 2023-07, with the labels that each got.

#5972 Add permissions to allow publishing test results for pull requests
  .github/workflows/ci.yml
Labels: type: tests

#5976 Remove Stickler configuration
  .stickler.yml
Labels: merge-level: minor, type: tests

#5973 Remove all containers and images by label on app destroy
  plugins/apps/functions.go
  plugins/apps/triggers.go
  plugins/builder/functions.go
  plugins/builder/triggers.go
  plugins/common/docker.go
  plugins/scheduler-docker-local/post-delete
Labels: type: bug, merge-level: minor, plugin: schedulers

#5974 Standardize on ls subcommand when interacting with the docker binary
  plugins/builder/functions.go
  plugins/common/docker.go
  plugins/network/functions.go
  plugins/scheduler-docker-local/core-post-deploy
  plugins/scheduler-docker-local/scheduler-pre-restore
Labels: type: refactor, merge-level: minor

#5977 Move all shellcheck disable definitions to .shellcheckrc
  .github/workflows/lint.yml
  .shellcheckrc
  bootstrap.sh
  contrib/dokku-docker-bin.sh
  contrib/dokku_client.sh
  contrib/images/digitalocean/in_parts/100-image-check
  contrib/release-dokku
  contrib/release-plugin
  debian/config
  debian/postinst
  debian/postrm
  debian/preinst
  dokku
  plugins/20_events/install
  plugins/builder-lambda/builder-build
  plugins/docker-options/docker-args-deploy
  plugins/docker-options/subcommands/remove
  plugins/domains/functions
  plugins/git/git-from-directory
  plugins/nginx-vhosts/functions
  plugins/scheduler-docker-local/bin/scheduler-deploy-process
  plugins/scheduler-docker-local/check-deploy
  plugins/scheduler-docker-local/internal-functions
  plugins/scheduler-docker-local/post-delete
  plugins/scheduler-docker-local/pre-deploy
  plugins/scheduler-docker-local/scheduler-deploy
  plugins/scheduler-docker-local/scheduler-enter
  plugins/scheduler-docker-local/scheduler-run-stop
  plugins/scheduler-docker-local/scheduler-stop
  plugins/shell/subcommands/default
  tests.mk
  tests/ci/setup.sh
  tests/ci/unit_test_runner.sh
  tests/shellcheck-exclude
  tests/test_deploy
  tests/unit/test_helper.bash
Labels: merge-level: minor, type: tests

#5975 Standardize on shorthand for redirecting all output to /dev/null
  bootstrap.sh
  contrib/dokku_client.sh
  docs/development/plugin-creation.md
  docs/development/plugin-triggers.md
  dokku
  plugins/20_events/install
  plugins/builder-herokuish/builder-build
  plugins/builder-herokuish/post-app-rename-setup
  plugins/common/functions
  plugins/git/functions
  plugins/git/internal-functions
  plugins/nginx-vhosts/functions
  plugins/scheduler-docker-local/core-post-deploy
  plugins/scheduler-docker-local/internal-functions
  plugins/scheduler-docker-local/scheduler-deploy
  plugins/scheduler-docker-local/scheduler-logs-failed
  plugins/scheduler-docker-local/scheduler-stop
  tests.mk
  tests/ci/setup.sh
  tests/unit/test_helper.bash
Labels: type: refactor, merge-level: minor

#5979 Do not start proxy implementations during server restore if they weren't manually started via the :start command
  plugins/caddy-vhosts/pre-restore
  plugins/haproxy-vhosts/pre-restore
  plugins/nginx-vhosts/pre-restore
  plugins/traefik-vhosts/pre-restore
Labels: type: bug, merge-level: minor, plugin: proxy

#5984 Unify all Procfile-handling documentation under the process management docs
  docs/deployment/builders/cloud-native-buildpacks.md
  docs/deployment/builders/dockerfiles.md
  docs/deployment/builders/herokuish-buildpacks.md
  docs/deployment/schedulers/docker-local.md
  docs/processes/process-management.md
Labels: type: documentation, merge-level: patch, plugin: ps, plugin: builders

#5985 Mount the traefik data directory instead of the acme.json file when starting traefik
  plugins/traefik-vhosts/templates/compose.yml.sigil
Labels: type: bug, plugin: traefik

#5987 Clarify that a branch can be specified when updating a plugin
  docs/advanced-usage/plugin-management.md
  plugins/plugin/help-functions
Labels: type: documentation, plugin: plugin

#5989 Skip scaled processes that are missing in the Procfile
  docs/development/plugin-triggers.md
  plugins/20_events/procfile-exists
  plugins/ps/Makefile
  plugins/ps/src/triggers/triggers.go
  plugins/ps/triggers.go
  plugins/scheduler-docker-local/scheduler-deploy
  tests/apps/python/worker.Procfile
  tests/unit/scheduler-docker-local.bats
Labels: type: enhancement, merge-level: minor, plugin: ps, plugin: schedulers

#5988 Move crontab writing code to scheduler-docker-local plugin
  plugins/cron/Makefile
  plugins/cron/cron.go
  plugins/cron/functions.go
  plugins/cron/report.go
  plugins/cron/subcommands.go
  plugins/cron/triggers.go
  plugins/scheduler-docker-local/.gitignore
  plugins/scheduler-docker-local/Makefile
  plugins/scheduler-docker-local/functions.go
  plugins/scheduler-docker-local/go.mod
  plugins/scheduler-docker-local/go.sum
  plugins/scheduler-docker-local/install
  plugins/scheduler-docker-local/post-delete
  plugins/scheduler-docker-local/post-deploy
  plugins/scheduler-docker-local/src/triggers/triggers.go
  plugins/scheduler-docker-local/triggers.go
Labels: type: refactor, merge-level: minor, plugin: cron

#5990 Add json format output to cron:list command
  docs/processes/scheduled-cron-tasks.md
  plugins/cron/cron.go
  plugins/cron/src/commands/commands.go
  plugins/cron/src/subcommands/subcommands.go
  plugins/cron/subcommands.go
  tests/unit/cron.bats
Labels: type: enhancement, plugin: cron

#5992 Mount the vector data directory instead of the vector file
  docs/appendices/0.31.0-migration-guide.md
  plugins/logs/functions.go
Labels: type: enhancement, plugin: logs

#5993 Un-deprecate apps and config cli aliases
  plugins/apps/src/commands/commands.go
  plugins/config/src/commands/commands.go
  tests/unit/apps_1.bats
  tests/unit/config.bats
Labels: type: enhancement, merge-level: minor, plugin: config, plugin: apps

#5998 Fix typo in scheduled cron task documentation
  docs/processes/scheduled-cron-tasks.md
Labels: type: documentation

#5999 Fix http to https redirect in traefik
  plugins/traefik-vhosts/templates/compose.yml.sigil
Labels: type: bug, plugin: traefik

#6006 Clarify how to specify the contents of an ssh key for dokku
  docs/deployment/user-management.md
Labels: type: documentation

#6011 Use ports-get plugn trigger for fetching port mappings
  docs/development/plugin-triggers.md
  plugins/20_events/ports-get
  plugins/caddy-vhosts/docker-args-process-deploy
  plugins/domains/internal-functions
  plugins/haproxy-vhosts/docker-args-process-deploy
  plugins/nginx-vhosts/functions
  plugins/ports/Makefile
  plugins/ports/src/triggers/triggers.go
  plugins/ports/triggers.go
  plugins/traefik-vhosts/docker-args-process-deploy
Labels: type: refactor, plugin: ports

#6012 Use ports:report to get the list of port mappings
  tests/unit/test_helper.bash
Labels: type: tests, plugin: ports

#6014 Automatically clear the git source-image property when changing deployment methodologies
  docs/appendices/0.31.0-migration-guide.md
  docs/deployment/methods/git.md
  docs/development/plugin-triggers.md
  plugins/git/deploy-source-set
Labels: type: bug, merge-level: minor, plugin: git

#6013 Export environment variables during dockerfile builds for use with value-less --build-arg flags
  docs/deployment/builders/dockerfiles.md
  plugins/builder-dockerfile/builder-build
  tests/unit/builder-dockerfile.bats
Labels: type: enhancement, merge-level: minor, plugin: builders

#6015 Move CHECKS file extraction to the beginning of the deploy
  docs/appendices/0.31.0-migration-guide.md
  docs/deployment/zero-downtime-deploys.md
  plugins/scheduler-docker-local/check-deploy
  plugins/scheduler-docker-local/core-post-deploy
  plugins/scheduler-docker-local/core-post-extract
  plugins/scheduler-docker-local/internal-functions
  plugins/scheduler-docker-local/pre-deploy
Labels: type: refactor, merge-level: minor, plugin: checks, type: bc break

#6010 Use ports-clear plugn trigger to manage clearing the port map
  docs/deployment/builders/dockerfiles.md
  docs/deployment/builders/herokuish-buildpacks.md
  docs/development/plugin-triggers.md
  plugins/20_events/ports-clear
  plugins/nginx-vhosts/pre-disable-vhost
  plugins/nginx-vhosts/pre-enable-vhost
  plugins/ports/.gitignore
  plugins/ports/Makefile
  plugins/ports/functions.go
  plugins/ports/src/triggers/triggers.go
  plugins/ports/subcommands.go
  plugins/ports/triggers.go
Labels: type: refactor, plugin: ports

#6009 Properly set the plugin repository name when installing in a docker-based dokku install
  docker/etc/my_init.d/10_dokku_init
Labels: type: bug, merge-level: patch

#6007 Add application/wasm to nginx.conf.sigil gzip
  plugins/nginx-vhosts/templates/nginx.conf.sigil
Labels: type: enhancement, plugin: nginx

#6018 Move code that fetches raw tcp ports for dockerfile deploys to ports plugin
  docs/appendices/0.31.0-migration-guide.md
  docs/development/plugin-triggers.md
  plugins/20_events/ports-dockerfile-raw-tcp-ports
  plugins/common/functions
  plugins/domains/internal-functions
  plugins/nginx-vhosts/functions
  plugins/ports/Makefile
  plugins/ports/functions.go
  plugins/ports/src/triggers/triggers.go
  plugins/ports/triggers.go
Labels: type: refactor, merge-level: minor, plugin: ports

#6019 Move code for fetching an available port to the ports plugin
  docs/appendices/0.31.0-migration-guide.md
  docs/development/plugin-triggers.md
  plugins/20_events/ports-get-available
  plugins/common/functions
  plugins/ports/Makefile
  plugins/ports/functions.go
  plugins/ports/proxy-configure-ports
  plugins/ports/src/triggers/triggers.go
  plugins/ports/triggers.go
Labels: type: refactor, merge-level: minor, type: bc break, plugin: ports

#6017 Deprecate proxy-configure-ports plugin trigger in favor of ports-configure
  docs/appendices/0.31.0-migration-guide.md
  docs/development/plugin-triggers.md
  plugins/20_events/ports-configure
  plugins/caddy-vhosts/docker-args-process-deploy
  plugins/common/ports-get-available
  plugins/haproxy-vhosts/docker-args-process-deploy
  plugins/nginx-vhosts/functions
  plugins/ports/Makefile
  plugins/ports/functions.go
  plugins/ports/proxy-configure-ports
  plugins/ports/src/triggers/triggers.go
  plugins/ports/triggers.go
  plugins/traefik-vhosts/docker-args-process-deploy
Labels: type: refactor, merge-level: minor, plugin: ports

#6021 Simplify ports-configure codebase
  plugins/ports/functions.go
  plugins/ports/triggers.go
  tests/unit/nginx-vhosts_12.bats
Labels: type: refactor, plugin: ports

#6028 Detect and use systemd on Debian systems when interacting with nginx
  docs/getting-started/troubleshooting.md
  plugins/nginx-vhosts/install
  plugins/nginx-vhosts/internal-functions
Labels: type: bug, merge-level: patch, plugin: nginx

#6035 Allow the check-commit CI job to work with PRs from other repos
  .github/workflows/ci.yml
Labels: type: tests

#6022 Fix issue with docker plugin-list install failing boot for docker-based installations
  docker/etc/my_init.d/10_dokku_init
  tests/ci/setup.sh
Labels: type: bug

#6041 Use updated path for devcontainer vscode extensions
  .devcontainer/devcontainer.json
Labels: type: bug

#6042 Rename port-map property to port
  docs/networking/proxies/nginx.md
  plugins/ports/functions.go
  plugins/ports/triggers.go
Labels: type: refactor, plugin: ports

#6043 Write auto-detected port mappings during a deploy
  docs/development/plugin-triggers.md
  docs/networking/port-management.md
  plugins/20_events/ports-set-detected
  plugins/builder-dockerfile/builder-build
  plugins/builder-dockerfile/internal-functions
  plugins/builder-herokuish/builder-build
  plugins/builder-lambda/builder-build
  plugins/builder-pack/builder-build
  plugins/ports/Makefile
  plugins/ports/functions.go
  plugins/ports/report.go
  plugins/ports/src/triggers/triggers.go
  plugins/ports/triggers.go
  tests/apps/python/expose.Dockerfile
  tests/unit/ports.bats
  tests/unit/test_helper.bash
Labels: type: enhancement, plugin: ports

#6057 Inject docker labels when nginx proxy implementation is in use
  plugins/nginx-vhosts/command-functions
  plugins/nginx-vhosts/docker-args-process-deploy
  plugins/nginx-vhosts/functions
  plugins/nginx-vhosts/internal-functions
Labels: type: enhancement, plugin: nginx, plugin: proxy

#6059 Update go packages to fix build issues
  plugins/app-json/go.mod
  plugins/app-json/go.sum
  plugins/apps/go.mod
  plugins/apps/go.sum
  plugins/builder/go.mod
  plugins/builder/go.sum
  plugins/buildpacks/go.mod
  plugins/buildpacks/go.sum
  plugins/common/go.mod
  plugins/common/go.sum
  plugins/config/go.mod
  plugins/config/go.sum
  plugins/cron/go.mod
  plugins/cron/go.sum
  plugins/docker-options/go.mod
  plugins/docker-options/go.sum
  plugins/logs/go.mod
  plugins/logs/go.sum
  plugins/network/go.mod
  plugins/network/go.sum
  plugins/proxy/go.mod
  plugins/proxy/go.sum
  plugins/ps/go.mod
  plugins/ps/go.sum
  plugins/registry/go.mod
  plugins/registry/go.sum
  plugins/repo/go.mod
  plugins/repo/go.sum
  plugins/resource/go.mod
  plugins/resource/go.sum
  plugins/scheduler/go.mod
  plugins/scheduler/go.sum
Labels: type: dependencies

#6063 Fix mistake on->off in nginx.md
  docs/networking/proxies/nginx.md
Labels: type: documentation

#6068 Fix typo in port management docs
  docs/networking/port-management.md
Labels: type: documentation

#6075 Use an alternative curl request to ensure requests go to the local nginx
  tests/unit/nginx-vhosts_5.bats
  tests/unit/nginx-vhosts_7.bats
  tests/unit/test_helper.bash
Labels: type: tests, plugin: nginx

#6074 Fix issue where networks weren't being torn down during testing
  tests/unit/test_helper.bash
Labels: type: tests, plugin: network

#6076 Use assert_output_not_exists instead of asserting output is empty string
  tests/unit/apps_1.bats
  tests/unit/apps_2.bats
  tests/unit/checks.bats
  tests/unit/config.bats
  tests/unit/git_1.bats
  tests/unit/logs.bats
  tests/unit/ports.bats
  tests/unit/storage.bats
  tests/unit/traefik.bats
Labels: type: tests

#6078 Use correct quoting in format template when fetching exposed image ports
  plugins/builder-dockerfile/internal-functions
Labels: type: bug, plugin: builders

#6079 Remove debugging code from builder-dockerfile plugin
  plugins/builder-dockerfile/builder-build
Labels: type: bug, merge-level: patch, plugin: builders

#6080 Add assertions to various bats tests
  tests/unit/apps_1.bats
  tests/unit/apps_2.bats
  tests/unit/build-env.bats
  tests/unit/checks.bats
  tests/unit/client.bats
  tests/unit/core_1.bats
  tests/unit/core_2.bats
  tests/unit/domains.bats
  tests/unit/events.bats
  tests/unit/git_2.bats
  tests/unit/init.bats
  tests/unit/network.bats
  tests/unit/nginx-vhosts_1.bats
  tests/unit/nginx-vhosts_10.bats
  tests/unit/nginx-vhosts_11.bats
  tests/unit/nginx-vhosts_12.bats
  tests/unit/nginx-vhosts_2.bats
  tests/unit/nginx-vhosts_3.bats
  tests/unit/nginx-vhosts_4.bats
  tests/unit/nginx-vhosts_5.bats
  tests/unit/nginx-vhosts_6.bats
  tests/unit/nginx-vhosts_7.bats
  tests/unit/nginx-vhosts_8.bats
  tests/unit/nginx-vhosts_9.bats
  tests/unit/ports.bats
  tests/unit/proxy.bats
  tests/unit/ps-dockerfile-1.bats
  tests/unit/ps-dockerfile-2.bats
  tests/unit/ps-general-1.bats
  tests/unit/ps-herokuish-1.bats
  tests/unit/ps-herokuish-2.bats
  tests/unit/report.bats
  tests/unit/resource_1.bats
  tests/unit/resource_2.bats
  tests/unit/run_1.bats
  tests/unit/run_2.bats
  tests/unit/test_helper.bash
Labels: merge-level: patch, type: tests
