Repository dokku/dokku, pull requests merged in 2023-01, with the labels that each got.

#5563 Clarify documentation for default site under nginx
  docs/networking/proxies/nginx.md
Labels: type: documentation, merge-level: patch, plugin: nginx

#5557 Update GitHub actions
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  docs/deployment/continuous-integration/github-actions.md
Labels: merge-level: patch, type: tests

#5580 Do not attempt to reinstall already installed plugins
  docker/etc/my_init.d/10_dokku_init
Labels: type: bug, docker

#5581 Use short url for installation
  HISTORY.md
  README.md
  contrib/release-dokku
  docs/getting-started/advanced-installation.md
  docs/getting-started/installation/index.md
  docs/home.html
Labels: type: enhancement

#5585 Improve instructions for disabling the default nginx site
  docs/networking/proxies/nginx.md
Labels: type: documentation, plugin: nginx

#5588 Document how to route to server-local apps via a service proxy
  docs/networking/network.md
Labels: type: documentation, plugin: nginx, plugin: network, plugin: caddy, plugin: traefik

#5587 Timeout build jobs within 45 minutes
  .github/workflows/ci.yml
Labels: type: tests

#5570 Add support for customizing the remote in use for all commands sent via the official client
  contrib/dokku_client.sh
  docs/deployment/remote-commands.md
  tests/unit/client.bats
Labels: type: enhancement, merge-level: patch

#5589 Use warning_scheme variable instead of bare word in caddy-vhosts warning output
  plugins/caddy-vhosts/docker-args-process-deploy
Labels: type: bug, merge-level: patch, plugin: caddy

#5590 Note that connecting to vagrant should be done via vagrant ssh
  docs/getting-started/install/vagrant.md
Labels: type: documentation, merge-level: patch

#5560 Drop SPDY support from nginx plugin
  docs/appendices/0.30.0-migration-guide.md
  docs/getting-started/upgrading/index.md
  plugins/nginx-vhosts/functions
  plugins/nginx-vhosts/templates/nginx.conf.sigil
  tests/unit/test_helper.bash
Labels: type: refactor, merge-level: minor, plugin: nginx, type: bc break

#5591 Allow the herokuish builder to be detected when the computed allowed value is set not set to false
  plugins/builder-herokuish/builder-detect
Labels: type: enhancement, plugin: builders

#5592 Remove support for DOKKU_SCALE file
  .github/dependabot.yml
  docs/appendices/0.30.0-migration-guide.md
  plugins/app-json/functions.go
  plugins/ps/triggers.go
  tests/apps/config/DOKKU_SCALE
  tests/apps/config/app.json
  tests/apps/dockerfile-app-json-formations/CHECKS
  tests/apps/dockerfile-app-json-formations/Dockerfile
  tests/apps/dockerfile-app-json-formations/Procfile
  tests/apps/dockerfile-app-json-formations/app.json
  tests/apps/dockerfile-app-json-formations/check_deploy
  tests/apps/dockerfile-app-json-formations/package.json
  tests/apps/dockerfile-app-json-formations/web.js
  tests/apps/dockerfile-app-json-formations/worker.js
  tests/apps/dockerfile-dokku-scale/DOKKU_SCALE
  tests/apps/nodejs-worker/DOKKU_SCALE
  tests/apps/nodejs-worker/app.json
  tests/unit/ps-dockerfile-2.bats
Labels: type: refactor, merge-level: minor, plugin: ps, type: bc break

#5593 Remove deprecated --detach flag
  docs/appendices/0.30.0-migration-guide.md
  docs/configuration/environment-variables.md
  plugins/common/functions
Labels: merge-level: minor, type: bc break, plugin: run

#5594 Remove deprecated builder-specific post-release hooks
  docs/advanced-usage/event-logs.md
  docs/appendices/0.30.0-migration-guide.md
  docs/development/plugin-triggers.md
  plugins/builder-dockerfile/builder-release
  plugins/builder-herokuish/builder-release
  plugins/builder-pack/builder-release
Labels: merge-level: minor, plugin: builders, type: bc break

#5595 Remove deprecated ability to call logs:failed without specifying an app or --all flag
  docs/deployment/logs.md
  plugins/logs/subcommands.go
Labels: merge-level: minor, plugin: logs, type: bc break

#5558 Remove references to ubuntu 18.04 ahead of EOL
  .github/workflows/ci.yml
  README.md
  Vagrantfile
  bootstrap.sh
  contrib/build-base.Dockerfile
  deb.mk
  docs/deployment/builders/dockerfiles.md
  docs/development/testing.md
  docs/getting-started/install/debian.md
  docs/getting-started/install/dreamhost.md
  docs/getting-started/installation/index.md
  docs/networking/port-management.md
  tests.mk
  tests/ci/setup.sh
  tests/unit/certs.bats
  tests/unit/nginx-vhosts_12.bats
  tests/unit/server_ssl.tar
  tests/unit/server_ssl_sans.tar
  tests/unit/server_ssl_wildcard.tar
  tests/unit/test_helper.bash
Labels: merge-level: minor, type: bc break

#5603 Add ability to deploy images generated via docker save with git:load-image
  docs/deployment/methods/git.md
  plugins/builder-dockerfile/builder-release
  plugins/builder-herokuish/builder-release
  plugins/git/help-functions
  plugins/git/internal-functions
  plugins/git/subcommands/load-image
  tests/unit/git_7.bats
Labels: type: enhancement, merge-level: minor, plugin: git

#5606 Ensure the mounted services directory is symlinked correctly
  Dockerfile
Labels: type: bug, merge-level: minor, type: bc break, docker

#5611 Add more debugging output to deploy tests
  tests/test_deploy
Labels: merge-level: patch, type: tests
