Repository dokku/dokku, pull requests merged in 2024-07, with the labels that each got.

#6898 Update all dependencies in the dokku ecosystem
  Makefile
  contrib/dependencies.json
Labels: type: dependencies

#6984 Correctly pass around arguments when displaying container log output
  plugins/scheduler-docker-local/check-deploy
  plugins/scheduler-docker-local/core-post-deploy
Labels: type: bug, plugin: scheduler-docker-local

#6992 feat: add logging when hsts nginx config is not using built-in template
  plugins/nginx-vhosts/functions
  plugins/nginx-vhosts/internal-functions
Labels: type: enhancement, merge-level: patch, plugin: nginx

#7019 Clarify to users that the migration guides should be followed for upgrades
  docs/getting-started/upgrading/index.md
Labels: type: documentation

#7012 Fix grammar under HSTS Header section in ssl documentation
  docs/configuration/ssl.md
Labels: type: documentation
