Repository dokku/dokku, pull requests merged in 2024-02, with the labels that each got.

#6554 Fix issue where CI cannot install docker-buildx-plugin
  Dockerfile
  contrib/images/digitalocean/in_parts/011-docker
  tests.mk
Labels: type: tests

#6555 Add support for app-specific service accounts when deploying via k3s
  plugins/scheduler-k3s/template.go
  plugins/scheduler-k3s/templates/chart/cron-job.yaml
  plugins/scheduler-k3s/templates/chart/deployment.yaml
  plugins/scheduler-k3s/templates/chart/secret.yaml
  plugins/scheduler-k3s/templates/chart/service-account.yaml
  plugins/scheduler-k3s/triggers.go
Labels: type: enhancement

#6557 Consolidate property fetching for nginx plugin into golang codebase
  docs/networking/proxies/nginx.md
  plugins/nginx-vhosts/Makefile
  plugins/nginx-vhosts/command-functions
  plugins/nginx-vhosts/functions
  plugins/nginx-vhosts/functions.go
  plugins/nginx-vhosts/go.mod
  plugins/nginx-vhosts/go.sum
  plugins/nginx-vhosts/install
  plugins/nginx-vhosts/internal-functions
  plugins/nginx-vhosts/nginx_vhosts.go
  plugins/nginx-vhosts/src/nginx-property/nginx-property.go
  plugins/nginx-vhosts/src/pagesize/pagesize.go
  plugins/openresty-vhosts/internal-functions
  tests/unit/nginx-vhosts_8.bats
Labels: type: refactor, plugin: nginx

#6558 Use type-specific functions for writing contents to a file
  plugins/common/io.go
  plugins/logs/functions.go
  plugins/scheduler-k3s/functions.go
  plugins/scheduler-k3s/subcommands.go
Labels: type: refactor, plugin: logs, plugin: schedulers, plugin: common

#6559 Check errors when writing properties
  plugins/common/properties.go
Labels: type: bug, plugin: common

#6560 Skip app stop/delete when k3s is not installed
  plugins/scheduler-k3s/triggers.go
Labels: type: bug, plugin: schedulers

#6561 Index the process map to ensure the correct config is pulled
  plugins/scheduler-k3s/templates/chart/certificate.yaml
  plugins/scheduler-k3s/templates/chart/cron-job.yaml
  plugins/scheduler-k3s/templates/chart/deployment.yaml
  plugins/scheduler-k3s/templates/chart/https-redirect-middleware.yaml
  plugins/scheduler-k3s/templates/chart/ingress-route.yaml
  plugins/scheduler-k3s/templates/chart/service.yaml
Labels: type: bug, plugin: schedulers

#6563 Wait until initial k3s node is ready before installing manifests
  plugins/scheduler-k3s/subcommands.go
Labels: type: bug, plugin: schedulers

#6562 Add support for specifying annotations on kubernetes resources
  docs/deployment/schedulers/k3s.md
  plugins/scheduler-k3s/functions.go
  plugins/scheduler-k3s/k8s.go
  plugins/scheduler-k3s/scheduler_k3s.go
  plugins/scheduler-k3s/src/commands/commands.go
  plugins/scheduler-k3s/subcommands.go
  plugins/scheduler-k3s/template.go
  plugins/scheduler-k3s/templates/chart/certificate.yaml
  plugins/scheduler-k3s/templates/chart/cron-job.yaml
  plugins/scheduler-k3s/templates/chart/deployment.yaml
  plugins/scheduler-k3s/templates/chart/https-redirect-middleware.yaml
  plugins/scheduler-k3s/templates/chart/ingress-route.yaml
  plugins/scheduler-k3s/templates/chart/secret.yaml
  plugins/scheduler-k3s/templates/chart/service-account.yaml
  plugins/scheduler-k3s/templates/chart/service.yaml
  plugins/scheduler-k3s/triggers.go
  tests/unit/scheduler-k3s.bats
Labels: type: enhancement, plugin: schedulers

#6564 Ignore link and volume flags for nixpacks builds
  plugins/docker-options/docker-args-deploy
Labels: type: bug, plugin: builders

#6574 Correct indentation when configuring https on a k3s app
  plugins/scheduler-k3s/templates/chart/ingress.yaml
Labels: type: bug, plugin: schedulers

#6575 Remove reference to web ui from digitalocean install documentation
  docs/getting-started/install/digitalocean.md
Labels: type: documentation

#6578 Bump go modules
  plugins/app-json/go.mod
  plugins/app-json/go.sum
  plugins/apps/go.mod
  plugins/apps/go.sum
  plugins/builder/go.mod
  plugins/builder/go.sum
  plugins/buildpacks/go.mod
  plugins/buildpacks/go.sum
  plugins/config/go.mod
  plugins/config/go.sum
  plugins/cron/go.mod
  plugins/cron/go.sum
  plugins/docker-options/go.mod
  plugins/docker-options/go.sum
  plugins/logs/go.mod
  plugins/logs/go.sum
  plugins/network/go.mod
  plugins/network/go.sum
  plugins/nginx-vhosts/go.mod
  plugins/nginx-vhosts/go.sum
  plugins/ports/go.mod
  plugins/ports/go.sum
  plugins/proxy/go.mod
  plugins/proxy/go.sum
  plugins/ps/go.mod
  plugins/ps/go.sum
  plugins/registry/go.mod
  plugins/registry/go.sum
  plugins/repo/go.mod
  plugins/repo/go.sum
  plugins/resource/go.mod
  plugins/resource/go.sum
  plugins/scheduler-docker-local/go.mod
  plugins/scheduler-docker-local/go.sum
  plugins/scheduler-k3s/go.mod
  plugins/scheduler-k3s/go.sum
  plugins/scheduler/go.mod
  plugins/scheduler/go.sum
Labels: type: dependencies

#6579 Ensure k3s can be installed with taints
  plugins/scheduler-k3s/templates/helm-config/ingress-nginx.yaml
  tests/unit/scheduler-k3s.bats
Labels: type: bug, plugin: schedulers

#6390 Prefer systemctl over sv when both exist while restarting nginx
  Dockerfile
  plugins/nginx-vhosts/install
  plugins/nginx-vhosts/internal-functions
Labels: type: bug

#6582 Correctly handle extra whitespace in scale file contents
  contrib/dependencies.json
  plugins/ps/functions.go
  plugins/ps/go.mod
  plugins/ps/triggers.go
  tests/unit/ps-general-1.bats
Labels: type: bug, plugin: ps

#6583 Add WithContext functions for all subprocess-related code
  plugins/common/exec.go
  plugins/common/plugn.go
  plugins/common/sftp.go
  plugins/common/ssh.go
  plugins/common/subprocess.go
Labels: type: enhancement

#6585 Add more context to errors in fetching cron entries
  plugins/cron/cron.go
Labels: type: enhancement, plugin: cron

#6581 Fix issues in tls handling when deploying via k3s
  docs/deployment/schedulers/k3s.md
  plugins/scheduler-k3s/functions.go
  plugins/scheduler-k3s/template.go
  plugins/scheduler-k3s/templates/chart/deployment.yaml
  plugins/scheduler-k3s/templates/chart/ingress-route.yaml
  plugins/scheduler-k3s/templates/chart/ingress.yaml
  plugins/scheduler-k3s/triggers.go
Labels: type: bug, plugin: schedulers

#6591 Always capture stdout/stderr when executing subprocesses
  plugins/app-json/src/commands/commands.go
  plugins/apps/src/commands/commands.go
  plugins/builder/src/commands/commands.go
  plugins/buildpacks/src/commands/commands.go
  plugins/common/docker.go
  plugins/common/exec.go
  plugins/common/plugn.go
  plugins/common/ssh.go
  plugins/config/src/commands/commands.go
  plugins/cron/src/commands/commands.go
  plugins/logs/functions.go
  plugins/logs/src/commands/commands.go
  plugins/logs/triggers.go
  plugins/network/functions.go
  plugins/network/src/commands/commands.go
  plugins/ports/src/commands/commands.go
  plugins/proxy/src/commands/commands.go
  plugins/ps/src/commands/commands.go
  plugins/ps/triggers.go
  plugins/registry/functions.go
  plugins/registry/src/commands/commands.go
  plugins/registry/subcommands.go
  plugins/repo/src/commands/commands.go
  plugins/resource/src/commands/commands.go
  plugins/scheduler-k3s/functions.go
  plugins/scheduler-k3s/src/commands/commands.go
  plugins/scheduler-k3s/subcommands.go
  plugins/scheduler-k3s/triggers.go
  plugins/scheduler/src/commands/commands.go
Labels: type: refactor

#6592 Remove all calls to common.NewShellCmdWithArgs
  plugins/app-json/functions.go
  plugins/common/docker.go
  plugins/common/exec.go
  plugins/common/log.go
Labels: type: refactor

#6593 Remove extra trailing newline to fix govet issue
  plugins/app-json/src/commands/commands.go
  plugins/apps/src/commands/commands.go
  plugins/builder/src/commands/commands.go
  plugins/buildpacks/src/commands/commands.go
  plugins/config/src/commands/commands.go
  plugins/cron/src/commands/commands.go
  plugins/logs/src/commands/commands.go
  plugins/network/src/commands/commands.go
  plugins/ports/src/commands/commands.go
  plugins/proxy/src/commands/commands.go
  plugins/registry/src/commands/commands.go
  plugins/repo/src/commands/commands.go
  plugins/resource/src/commands/commands.go
  plugins/scheduler-k3s/src/commands/commands.go
  plugins/scheduler/src/commands/commands.go
Labels: type: bug

#6600 Use correct label key for worker nodes
  plugins/scheduler-k3s/scheduler_k3s.go
Labels: type: bug, plugin: scheduler-k3s

#6607 Call sed in unbuffered form to ensure log output is streamed to stdout
  plugins/scheduler-docker-local/scheduler-logs
  plugins/scheduler-docker-local/scheduler-run-logs
Labels: type: bug

#6608 Fix issue with setting k3s resource values and lower the initial default values
  docs/deployment/schedulers/k3s.md
  plugins/common/exec.go
  plugins/common/plugn.go
  plugins/scheduler-k3s/functions.go
  tests/unit/scheduler-k3s.bats
Labels: type: bug, plugin: resource, plugin: scheduler-k3s

#6595 Add ability for users to specify alternative kubeconfig and kubecontext
  docs/deployment/schedulers/k3s.md
  plugins/scheduler-k3s/functions.go
  plugins/scheduler-k3s/helm.go
  plugins/scheduler-k3s/k8s.go
  plugins/scheduler-k3s/report.go
  plugins/scheduler-k3s/scheduler_k3s.go
  plugins/scheduler-k3s/subcommands.go
  plugins/scheduler-k3s/triggers.go
Labels: type: enhancement, plugin: schedulers

#6613 Add a helper binary to deploy a test app for local development
  .devcontainer/bin/deploy-test-app
Labels: type: enhancement

#6614 Correct issue where --force-tty was not properly supported by run:detached calls
  docs/processes/one-off-tasks.md
  plugins/run/help-functions
  plugins/run/internal-functions
Labels: type: bug

#6616 Ensure referenced images get updated by dependabot
  .github/dependabot.yml
  plugins/caddy-vhosts/Dockerfile
  plugins/caddy-vhosts/internal-functions
  plugins/haproxy-vhosts/Dockerfile
  plugins/haproxy-vhosts/internal-functions
  plugins/logs/Dockerfile
  plugins/logs/functions.go
  plugins/logs/logs.go
  plugins/logs/report.go
  plugins/logs/subcommands.go
  plugins/openresty-vhosts/Dockerfile
  plugins/openresty-vhosts/internal-functions
  plugins/traefik-vhosts/Dockerfile
  plugins/traefik-vhosts/internal-functions
Labels: type: enhancement

#6622 chore(deps): bump timberio/vector from 0.35.X-debian to 0.36.X-debian in /plugins/logs
  plugins/logs/Dockerfile
Labels: type: dependencies, plugin: logs

#6624 Install jq in vagrant vm
  Vagrantfile
Labels: type: bug

#6623 Do not allow reusing the same scheme:host-port mappings when setting ports
  plugins/ports/functions.go
  plugins/ports/proxy.go
  plugins/ports/subcommands.go
  plugins/ports/triggers.go
  tests/unit/ports.bats
Labels: type: bug, plugin: ports

#6626 Copy code into initial base image via docker build
  plugins/builder-herokuish/builder-build
  plugins/builder-herokuish/dockerfiles/copy-source.Dockerfile
Labels: type: refactor, plugin: builders

#6628 Ensure non-web processes do not attempt to perform web logic in k3s templates
  plugins/scheduler-k3s/templates/chart/deployment.yaml
Labels: type: bug

#6629 Use smaller reference to image pull secrets in secret naming
  plugins/scheduler-k3s/templates/chart/image-pull-secret.yaml
  plugins/scheduler-k3s/triggers.go
Labels: type: bug, plugin: scheduler-k3s

#6631 Correctly use cache volume for herokuish builds
  plugins/app-json/functions.go
  tests/unit/app-json.bats
  tests/unit/build-env.bats
  tests/unit/repo.bats
Labels: type: bug, plugin: builders

#6634 feat: install keda addon in k3s cluster
  plugins/scheduler-k3s/scheduler_k3s.go
  plugins/scheduler-k3s/templates/helm-config/keda.yaml
Labels: type: enhancement

#6638 chore: bump go modules
  plugins/app-json/go.mod
  plugins/app-json/go.sum
  plugins/apps/go.mod
  plugins/apps/go.sum
  plugins/builder/go.mod
  plugins/builder/go.sum
  plugins/buildpacks/go.mod
  plugins/buildpacks/go.sum
  plugins/config/go.mod
  plugins/config/go.sum
  plugins/cron/go.mod
  plugins/cron/go.sum
  plugins/docker-options/go.mod
  plugins/docker-options/go.sum
  plugins/logs/go.mod
  plugins/logs/go.sum
  plugins/network/go.mod
  plugins/network/go.sum
  plugins/nginx-vhosts/go.mod
  plugins/nginx-vhosts/go.sum
  plugins/ports/go.mod
  plugins/ports/go.sum
  plugins/proxy/go.mod
  plugins/proxy/go.sum
  plugins/ps/go.mod
  plugins/ps/go.sum
  plugins/registry/go.mod
  plugins/registry/go.sum
  plugins/repo/go.mod
  plugins/repo/go.sum
  plugins/resource/go.mod
  plugins/resource/go.sum
  plugins/scheduler-docker-local/go.mod
  plugins/scheduler-docker-local/go.sum
  plugins/scheduler-k3s/go.mod
  plugins/scheduler-k3s/go.sum
  plugins/scheduler/go.mod
  plugins/scheduler/go.sum
Labels: type: dependencies

#6639 Add support for setting underscores-in-headers for nginx, openresty, and k3s
  docs/networking/proxies/nginx.md
  plugins/nginx-vhosts/command-functions
  plugins/nginx-vhosts/functions
  plugins/nginx-vhosts/internal-functions
  plugins/nginx-vhosts/nginx_vhosts.go
  plugins/nginx-vhosts/src/nginx-property/nginx-property.go
  plugins/nginx-vhosts/subcommands/set
  plugins/nginx-vhosts/templates/nginx.conf.sigil
  plugins/openresty-vhosts/command-functions
  plugins/openresty-vhosts/docker-args-process-deploy
  plugins/openresty-vhosts/internal-functions
  plugins/openresty-vhosts/subcommands/set
  plugins/scheduler-k3s/functions.go
  tests/unit/nginx-vhosts_9.bats
Labels: type: enhancement, plugin: nginx, plugin: openresty, plugin: scheduler-k3s

#6641 Rename image pull secrets to standardize on secret naming pattern
  plugins/scheduler-k3s/templates/chart/image-pull-secret.yaml
  plugins/scheduler-k3s/triggers.go
Labels: type: refactor, plugin: scheduler-k3s

#6642 Use correct annotations key for the ingress chart
  plugins/scheduler-k3s/templates/chart/ingress.yaml
Labels: type: bug, plugin: scheduler-k3s
