Repository dokku/dokku, pull requests merged in 2024-03, with the labels that each got.

#6644 Only apply the cluster issuers helm chart when setting letsencrypt properties
  plugins/scheduler-k3s/subcommands.go
  plugins/scheduler-k3s/triggers.go
Labels: type: refactor, plugin: scheduler-k3s

#6649 Added detach flag to Docker installation documentation
  docs/getting-started/install/docker.md
Labels: type: documentation

#6643 Add ability to add extra labels
  docs/deployment/schedulers/k3s.md
  plugins/scheduler-k3s/Makefile
  plugins/scheduler-k3s/functions.go
  plugins/scheduler-k3s/scheduler_k3s.go
  plugins/scheduler-k3s/src/commands/commands.go
  plugins/scheduler-k3s/src/subcommands/subcommands.go
  plugins/scheduler-k3s/subcommands.go
  plugins/scheduler-k3s/template.go
  plugins/scheduler-k3s/templates/chart/_helpers.tpl
  plugins/scheduler-k3s/templates/chart/certificate.yaml
  plugins/scheduler-k3s/templates/chart/cron-job.yaml
  plugins/scheduler-k3s/templates/chart/deployment.yaml
  plugins/scheduler-k3s/templates/chart/https-redirect-middleware.yaml
  plugins/scheduler-k3s/templates/chart/image-pull-secret.yaml
  plugins/scheduler-k3s/templates/chart/ingress-route.yaml
  plugins/scheduler-k3s/templates/chart/ingress.yaml
  plugins/scheduler-k3s/templates/chart/secret.yaml
  plugins/scheduler-k3s/templates/chart/service-account.yaml
  plugins/scheduler-k3s/templates/chart/service.yaml
  plugins/scheduler-k3s/triggers.go
  tests/unit/scheduler-k3s.bats
Labels: type: enhancement, plugin: scheduler-k3s

#6652 Added dokku-mdns to list of community plugins
  docs/community/plugins.md
Labels: type: documentation

#6661 Bump go modules
  plugins/app-json/go.mod
  plugins/app-json/go.sum
  plugins/apps/go.mod
  plugins/apps/go.sum
  plugins/builder/go.mod
  plugins/builder/go.sum
  plugins/buildpacks/go.mod
  plugins/buildpacks/go.sum
  plugins/config/go.mod
  plugins/config/go.sum
  plugins/cron/go.mod
  plugins/cron/go.sum
  plugins/docker-options/go.mod
  plugins/docker-options/go.sum
  plugins/logs/go.mod
  plugins/logs/go.sum
  plugins/network/go.mod
  plugins/network/go.sum
  plugins/nginx-vhosts/go.mod
  plugins/nginx-vhosts/go.sum
  plugins/ports/go.mod
  plugins/ports/go.sum
  plugins/proxy/go.mod
  plugins/proxy/go.sum
  plugins/ps/go.mod
  plugins/ps/go.sum
  plugins/registry/go.mod
  plugins/registry/go.sum
  plugins/repo/go.mod
  plugins/repo/go.sum
  plugins/resource/go.mod
  plugins/resource/go.sum
  plugins/scheduler-docker-local/go.mod
  plugins/scheduler-docker-local/go.sum
  plugins/scheduler-k3s/go.mod
  plugins/scheduler-k3s/go.sum
  plugins/scheduler/go.mod
  plugins/scheduler/go.sum
Labels: type: dependencies

#6658 Execute go get/build with mod in readonly mode
  common.mk
  tests.mk
Labels: type: bug

#6659 Add missing cron:set command
  docs/processes/scheduled-cron-tasks.md
  plugins/cron/Makefile
  plugins/cron/src/commands/commands.go
  plugins/cron/src/subcommands/subcommands.go
Labels: type: bug

#6662 Allow limiting letsencrypt to certain domains when using openresty as a proxy
  docs/networking/proxies/openresty.md
  plugins/openresty-vhosts/Dockerfile
  plugins/openresty-vhosts/command-functions
  plugins/openresty-vhosts/internal-functions
  plugins/openresty-vhosts/subcommands/set
  tests/unit/openresty.bats
Labels: type: enhancement, plugin: openresty

#6640 Add initial support for injecting keda addons
  docs/deployment/schedulers/k3s.md
  plugins/app-json/appjson.go
  plugins/app-json/go.mod
  plugins/app-json/go.sum
  plugins/common/properties.go
  plugins/cron/go.mod
  plugins/cron/go.sum
  plugins/scheduler-docker-local/go.mod
  plugins/scheduler-docker-local/go.sum
  plugins/scheduler-k3s/Makefile
  plugins/scheduler-k3s/functions.go
  plugins/scheduler-k3s/go.mod
  plugins/scheduler-k3s/go.sum
  plugins/scheduler-k3s/k8s.go
  plugins/scheduler-k3s/report.go
  plugins/scheduler-k3s/scheduler_k3s.go
  plugins/scheduler-k3s/src/commands/commands.go
  plugins/scheduler-k3s/src/subcommands/subcommands.go
  plugins/scheduler-k3s/subcommands.go
  plugins/scheduler-k3s/template.go
  plugins/scheduler-k3s/templates/chart/keda-cluster-secret.yaml
  plugins/scheduler-k3s/templates/chart/keda-cluster-trigger-authentication.yaml
  plugins/scheduler-k3s/templates/chart/keda-scaled-object.yaml
  plugins/scheduler-k3s/templates/chart/keda-secret.yaml
  plugins/scheduler-k3s/templates/chart/keda-trigger-authentication.yaml
  plugins/scheduler-k3s/triggers.go
  tests/unit/scheduler-k3s.bats
Labels: type: enhancement, plugin: scheduler-k3s

#6673 Add image version as label to built images
  contrib/release-dokku
Labels: type: enhancement

#6671 Update dokku dependencies
  contrib/dependencies.json
Labels: type: dependencies

#6675 Remove the need for executing crontab as root
  docker/etc/sudoers.d/dokku-docker
  plugins/scheduler-docker-local/functions.go
  plugins/scheduler-docker-local/install
  tests/unit/cron.bats
Labels: type: bug, plugin: cron

#6674 Remove systemd reverse dependency by dropping software-properties-common
  contrib/images/digitalocean/in_parts/011-docker
  contrib/images/digitalocean/in_parts/012-dokku-packages
  debian/control
Labels: type: bug, merge-level: patch

#6677 Handle case where keda isn't installed properly
  plugins/scheduler-k3s/functions.go
Labels: type: bug, plugin: scheduler-k3s

#6678 Handle case where most builders didn't detect amd64 images on arm64
  plugins/builder-dockerfile/builder-release
  plugins/builder-herokuish/builder-release
  plugins/builder-nixpacks/builder-release
  plugins/common/functions
Labels: type: bug, plugin: builders

#6679 Split out k3s tests to speed up ci
  tests/unit/scheduler-k3s-1.bats
  tests/unit/scheduler-k3s-2.bats
  tests/unit/test_helper.bash
Labels: type: tests, plugin: scheduler-k3s

#6682 Fix reference to formation key in autoscaling example
  docs/deployment/schedulers/k3s.md
Labels: type: documentation

#6696 Run k3s tests with a specified server ip
  .github/commands/ci-setup
  tests/unit/test_helper.bash
Labels: type: tests, plugin: scheduler-k3s

#6695 Do not attempt to install both k3s and traefik
  plugins/scheduler-k3s/subcommands.go
Labels: type: bug, plugin: scheduler-k3s

#6680 Wait until helm charts are installed before marking a deploy as failed or completed
  plugins/scheduler-k3s/functions.go
  plugins/scheduler-k3s/helm.go
  plugins/scheduler-k3s/triggers.go
  tests/unit/scheduler-k3s-2.bats
  tests/unit/test_helper.bash
Labels: type: enhancement, plugin: scheduler-k3s

#6698 Upgrade ingress-nginx
  plugins/scheduler-k3s/scheduler_k3s.go
Labels: type: enhancement, merge-level: minor, plugin: scheduler-k3s

#6699 Add a placeholder migration guide for 0.33.0
  docs/appendices/0.33.0-migration-guide.md
  docs/getting-started/upgrading/index.md
Labels: type: documentation

#6681 Migrate to single ingress per app/domain combination
  plugins/scheduler-k3s/go.mod
  plugins/scheduler-k3s/go.sum
  plugins/scheduler-k3s/helm.go
  plugins/scheduler-k3s/k8s.go
  plugins/scheduler-k3s/template.go
  plugins/scheduler-k3s/templates/chart/_helpers.tpl
  plugins/scheduler-k3s/templates/chart/certificate.yaml
  plugins/scheduler-k3s/templates/chart/ingress-route.yaml
  plugins/scheduler-k3s/templates/chart/ingress.yaml
  plugins/scheduler-k3s/triggers.go
  tests/unit/scheduler-k3s-1.bats
  tests/unit/test_helper.bash
Labels: type: refactor, merge-level: minor, plugin: scheduler-k3s

#6156 Migrate the app deploy lock to the data directory
  plugins/app-json/triggers.go
  plugins/apps/Makefile
  plugins/apps/functions.go
  plugins/apps/src/triggers/triggers.go
  plugins/apps/subcommands.go
  plugins/apps/triggers.go
  plugins/common/functions
  plugins/logs/triggers.go
Labels: type: refactor

#6700 Remove traefik priority functionality
  docs/networking/proxies/traefik.md
  plugins/traefik-vhosts/command-functions
  plugins/traefik-vhosts/docker-args-process-deploy
  plugins/traefik-vhosts/internal-functions
  plugins/traefik-vhosts/subcommands/set
  tests/unit/traefik.bats
Labels: merge-level: minor, plugin: traefik, type: removal

#6632 Simplify file ownership in the container by setting the process ownership during the build process
  docs/appendices/0.34.0-migration-guide.md
  docs/deployment/schedulers/docker-local.md
  docs/getting-started/upgrading/index.md
  plugins/builder-herokuish/builder-release
  plugins/builder-herokuish/dockerfiles/builder-release.Dockerfile
  plugins/builder-herokuish/dockerfiles/copy-source.Dockerfile
  plugins/builder-herokuish/dockerfiles/pre-build.Dockerfile
  plugins/scheduler-docker-local/internal-functions
  plugins/scheduler-docker-local/pre-deploy
  plugins/scheduler-docker-local/subcommands/set
  tests/unit/apps_1.bats
  tests/unit/apps_2.bats
Labels: merge-level: minor, type: bc-break, type: removal, plugin: scheduler-docker-local

#6703 Use copytruncate in logrotate commands
  plugins/20_events/install
Labels: type: bug, merge-level: minor, plugin: nginx

#6704 Switch the default k3s routing layer from traefik to nginx
  docs/appendices/0.34.0-migration-guide.md
  docs/deployment/schedulers/k3s.md
  plugins/scheduler-k3s/scheduler_k3s.go
Labels: type: enhancement, merge-level: minor, plugin: scheduler-k3s

#6707 Correct issue where removing by index failed due to incorrect input validation
  plugins/buildpacks/functions.go
  plugins/buildpacks/subcommands.go
  tests/unit/buildpacks.bats
Labels: type: bug, plugin: buildpacks

#6706 Remove git:unlock command
  docs/appendices/0.34.0-migration-guide.md
  docs/deployment/methods/git.md
  plugins/common/functions
  plugins/git/help-functions
  plugins/git/internal-functions
  tests/unit/git_6.bats
  tests/unit/git_7.bats
  tests/unit/git_8.bats
Labels: merge-level: minor, type: bc-break, type: removal

#6708 Correctly handle quoted spaces over ssh
  contrib/dokku_client.sh
  dokku
  tests/unit/client.bats
  tests/unit/plugin.bats
  tests/unit/test_helper.bash
Labels: type: bug, merge-level: minor

#6712 Use CallPlugnTrigger instead of PlugnTriggerOutput
  plugins/app-json/functions.go
  plugins/app-json/triggers.go
  plugins/apps/functions.go
  plugins/buildpacks/report.go
  plugins/buildpacks/triggers.go
  plugins/common/common.go
  plugins/common/docker.go
  plugins/common/exec.go
  plugins/common/functions.go
  plugins/network/network.go
  plugins/ps/functions.go
  plugins/ps/ps.go
  plugins/ps/report.go
  plugins/ps/triggers.go
  plugins/scheduler-k3s/triggers.go
Labels: type: refactor, merge-level: minor

#6715 Add disk utilization to report output
  plugins/00_dokku-standard/subcommands/report
Labels: type: enhancement, merge-level: minor

#6714 Use CallPlugnTrigger instead of PlugnTriggerSetup
  plugins/app-json/functions.go
Labels: type: refactor, merge-level: minor

#6713 Use CallPlugnTrigger instead of PlugnTrigger
  plugins/app-json/functions.go
  plugins/app-json/go.mod
  plugins/app-json/go.sum
  plugins/apps/functions.go
  plugins/apps/go.mod
  plugins/apps/go.sum
  plugins/apps/subcommands.go
  plugins/builder/go.mod
  plugins/builder/go.sum
  plugins/buildpacks/go.mod
  plugins/buildpacks/go.sum
  plugins/buildpacks/subcommands.go
  plugins/common/go.mod
  plugins/common/go.sum
  plugins/common/subprocess.go
  plugins/config/config.go
  plugins/config/go.mod
  plugins/config/go.sum
  plugins/cron/go.mod
  plugins/cron/go.sum
  plugins/cron/subcommands.go
  plugins/docker-options/go.mod
  plugins/docker-options/go.sum
  plugins/logs/go.mod
  plugins/logs/go.sum
  plugins/logs/logs.go
  plugins/network/go.mod
  plugins/network/go.sum
  plugins/network/triggers.go
  plugins/nginx-vhosts/go.mod
  plugins/nginx-vhosts/go.sum
  plugins/ports/functions.go
  plugins/ports/go.mod
  plugins/ports/go.sum
  plugins/ports/subcommands.go
  plugins/proxy/go.mod
  plugins/proxy/go.sum
  plugins/proxy/proxy.go
  plugins/ps/functions.go
  plugins/ps/go.mod
  plugins/ps/go.sum
  plugins/ps/ps.go
  plugins/ps/subcommands.go
  plugins/registry/go.mod
  plugins/registry/go.sum
  plugins/registry/triggers.go
  plugins/repo/go.mod
  plugins/repo/go.sum
  plugins/resource/go.mod
  plugins/resource/go.sum
  plugins/scheduler-docker-local/go.mod
  plugins/scheduler-docker-local/go.sum
  plugins/scheduler-k3s/go.mod
  plugins/scheduler-k3s/go.sum
  plugins/scheduler-k3s/triggers.go
  plugins/scheduler/go.mod
  plugins/scheduler/go.sum
  tests/unit/ps-general-2.bats
Labels: type: refactor, merge-level: minor

#6717 Add ability to only build synced repo if there are changes
  docs/deployment/methods/git.md
  plugins/git/internal-functions
  tests/unit/git_3.bats
Labels: type: enhancement, plugin: git

#6719 Add a make target to copy the dokku binary over
  Makefile
Labels: type: enhancement, merge-level: minor

#6720 Add nginx-property binary to gitignore
  plugins/nginx-vhosts/.gitignore
Labels: type: bug, plugin: nginx

#6718 Write current process id to all acquired lock files
  dokku
  plugins/common/functions
Labels: merge-level: minor, plugin: apps

#6724 Correctly check if a repository has code or not in git plugin
  plugins/git/git-from-directory
  plugins/git/internal-functions
  tests/unit/git_3.bats
Labels: type: bug, plugin: git

#6725 Warn when publish ports if scaling up or zero downtime is enabled
  plugins/scheduler-docker-local/bin/scheduler-deploy-process
  tests/unit/scheduler-docker-local.bats
Labels: type: enhancement, plugin: schedulers

#6731 Clarify alternate proxy support status
  docs/networking/proxy-management.md
Labels: type: documentation

#6738 Update migration guide for 0.34.x
  docs/appendices/0.34.0-migration-guide.md
Labels: type: documentation, merge-level: minor

#6742 Remove trailing whitespace from history doc
  HISTORY.md
Labels: type: documentation

#6757 Add documentation issue template
  .github/ISSUE_TEMPLATE/documentation.yaml
Labels: type: documentation

#6743 Fix typo in app-json output
  plugins/app-json/functions.go
Labels: type: bug

#6739 Dereference annotated git tags when deploying via git:sync
  plugins/git/internal-functions
  tests/unit/git_3.bats
Labels: type: bug, plugin: git

#6763 Add docker-compose example to installation docs
  docs/getting-started/install/docker.md
Labels: type: documentation

#6768 Migrate away from transitional packages
  bootstrap.sh
  contrib/images/digitalocean/in_parts/011-docker
  contrib/images/digitalocean/in_parts/012-dokku-packages
  deb.mk
  debian/control
  docs/getting-started/install/debian.md
  plugins/nginx-vhosts/dependencies
Labels: type: enhancement

#6775 Ensure files get created with the correct permissions when building with herokuish
  contrib/dependencies.json
  plugins/builder-herokuish/builder-build
  plugins/builder-herokuish/builder-release
  plugins/builder-herokuish/dockerfiles/builder-release.Dockerfile
  plugins/builder-herokuish/dockerfiles/copy-source.Dockerfile
  plugins/builder-herokuish/dockerfiles/pre-build.Dockerfile
  plugins/builder-herokuish/pre-build
Labels: type: bug, merge-level: patch, plugin: builders

#6776 Use a long git sha in the git:report output
  plugins/git/internal-functions
Labels: merge-level: patch, plugin: git

#6778 Popd out of tmp directory after a git push-based deployment
  plugins/git/functions
  plugins/scheduler-docker-local/bin/scheduler-deploy-process
Labels: type: bug, plugin: git

#6779 Add --global flag to ps:set
  plugins/ps/src/subcommands/subcommands.go
  tests/unit/ps-general-1.bats
Labels: type: bug, plugin: ps

#6780 Clarify ssh-keys commands to run when adding ssh keys in docker-based installation
  docs/getting-started/install/docker.md
Labels: type: documentation

#6781 Update builder management docs to warn that globally setting a builder will force all apps to use that builder
  docs/deployment/builders/builder-management.md
Labels: type: documentation, plugin: builders
