Repository dokku/dokku, pull requests merged in 2024-12, with the labels that each got.

#7378 Update go modules
  plugins/app-json/go.sum
  plugins/apps/go.sum
  plugins/builder/go.sum
  plugins/buildpacks/go.sum
  plugins/cron/go.sum
  plugins/docker-options/go.sum
  plugins/logs/go.sum
  plugins/network/go.sum
  plugins/nginx-vhosts/go.sum
  plugins/ports/go.sum
  plugins/proxy/go.sum
  plugins/ps/go.sum
  plugins/registry/go.sum
  plugins/repo/go.sum
  plugins/resource/go.sum
  plugins/scheduler-docker-local/go.sum
  plugins/scheduler/go.sum
  tests/unit/scheduler-k3s-1.bats
  tests/unit/scheduler-k3s-2.bats
Labels: type: dependencies

#7379 Provide ability to customize chart values via `scheduler-k3s:set`
  docs/deployment/schedulers/k3s.md
  plugins/scheduler-k3s/functions.go
  plugins/scheduler-k3s/report.go
  plugins/scheduler-k3s/src/subcommands/subcommands.go
  plugins/scheduler-k3s/subcommands.go
Labels: type: enhancement, plugin: scheduler-k3s

#7380 Run unit tests outside of docker by default
  plugins/common/common_test.go
  tests.mk
Labels: type: tests

#7399 Add -w 0 to base64 call in config:set docs for safe usage in ssh commands
  docs/configuration/environment-variables.md
Labels: type: documentation

#7400 Check if tty is actually used and support proper output when it's not
  plugins/scheduler-k3s/k8s.go
Labels: type: bug, plugin: scheduler-k3s

#7404 Correctly handle scale to zero with the Keda http addon
  plugins/scheduler-k3s/functions.go
  plugins/scheduler-k3s/scheduler_k3s.go
Labels: type: bug, plugin: scheduler-k3s

#7403 Properly resolve imagePullSecrets from app and deploymentID if relevant property does not exist
  plugins/scheduler-k3s/k8s.go
  plugins/scheduler-k3s/triggers.go
Labels: type: bug

#7410 Only raise nil responses for k8s list calls as errors
  plugins/scheduler-k3s/k8s.go
Labels: type: bug, plugin: scheduler-k3s

#7412 Remove cgroups dependencies
  debian/control
Labels: type: bug

#7414 Remove copyright date range
  docs/home.html
  docs/template.html
Labels: type: documentation

#7416 Add missing DOKKU_LIB_HOST_ROOT to ensure plugins work in devcontainer setup
  .devcontainer/devcontainer.json
Labels: type: bug

#7415 Use the golang version of CopyFromImage when copying files in bash
  plugins/common/functions
  plugins/common/src/common/common.go
Labels: type: refactor, plugin: common

#7417 Write contents to stdout before writing to a file
  plugins/common/docker.go
Labels: type: bug, plugin: common

#7419 Add the ability to set a MAILFROM value for local cron emails
  docs/processes/scheduled-cron-tasks.md
  plugins/cron/cron.go
  plugins/cron/report.go
  plugins/cron/set.go
  plugins/cron/templates/cron.tmpl
  plugins/cron/triggers.go
  plugins/scheduler-docker-local/functions.go
Labels: type: enhancement
