Repository dokku/dokku, pull requests merged in 2025-09, with the labels that each got.

#7914 Fix nginx configuration building in k3s scheduler
  plugins/scheduler-k3s/functions.go
  plugins/scheduler-k3s/templates/helm-config/ingress-nginx.yaml
Labels: type: bug, plugin: scheduler-k3s

#7943 Remove unused test app
  .github/dependabot.yml
  tests/apps/.websocket.disabled/Procfile
  tests/apps/.websocket.disabled/README.md
  tests/apps/.websocket.disabled/app.js
  tests/apps/.websocket.disabled/check_deploy
  tests/apps/.websocket.disabled/package.json
  tests/apps/.websocket.disabled/public/jquery.min.js
  tests/apps/.websocket.disabled/views/index.handlebars
  tests/apps/.websocket.disabled/views/layout.html
Labels: type: tests

#7975 Create SecurityContext for k3s scheduler from docker-options
  docs/deployment/schedulers/k3s.md
  plugins/docker-options/dockeroptions.go
  plugins/scheduler-k3s/functions.go
  plugins/scheduler-k3s/template.go
  plugins/scheduler-k3s/templates/chart/cron-job.yaml
  plugins/scheduler-k3s/templates/chart/deployment.yaml
  plugins/scheduler-k3s/triggers.go
  tests/unit/scheduler-k3s-3.bats
Labels: type: enhancement, merge-level: patch, needs: tests, plugin: scheduler-k3s

#7977 Remove server_tokens directive from main nginx config if present (com…
  plugins/nginx-vhosts/install
Labels: type: bug, merge-level: patch, plugin: nginx

#7978 Add ability to list global cron tasks
  docs/processes/scheduled-cron-tasks.md
  plugins/cron/cron.go
  plugins/cron/src/subcommands/subcommands.go
  plugins/cron/subcommands.go
  tests/unit/cron.bats
Labels: type: enhancement, merge-level: patch, plugin: cron, estimate: 1h

#7979 Skip invalid apps when listing applications
  plugins/common/common.go
  plugins/common/triggers.go
Labels: type: bug, merge-level: patch, plugin: common, estimate: 1h

#7990 Correct parsing of the --container-id flag for the enter command
  plugins/enter/subcommands/default
  plugins/scheduler-docker-local/scheduler-enter
Labels: type: bug, merge-level: patch
