Repository dokku/dokku, pull requests merged in 2025-06, with the labels that each got.

#7749 chore: update herokuish from 0.10.3 to 0.11.0
  contrib/dependencies.json
Labels: type: dependencies

#7577 Migrate DOKKU_DOCKER_STOP_TIMEOUT to ps setting
  docs/appendices/0.36.0-migration-guide.md
  docs/configuration/environment-variables.md
  docs/deployment/zero-downtime-deploys.md
  docs/processes/process-management.md
  plugins/config/Makefile
  plugins/config/src/triggers/triggers.go
  plugins/config/triggers.go
  plugins/ports/triggers.go
  plugins/ps/Makefile
  plugins/ps/ps.go
  plugins/ps/report.go
  plugins/ps/src/triggers/triggers.go
  plugins/ps/triggers.go
  plugins/scheduler-docker-local/internal-functions
  plugins/scheduler-docker-local/scheduler-deploy
  plugins/scheduler-docker-local/scheduler-run-stop
  plugins/scheduler-docker-local/scheduler-stop
  plugins/scheduler/go.mod
  plugins/scheduler/go.sum
  plugins/scheduler/triggers.go
Labels: type: refactor, merge-level: minor, difficulty: easy, plugin: ps, plugin: config, type: bc-break, estimate: 1h

#7755 Update checkout action version in github actions documentation
  docs/deployment/continuous-integration/github-actions.md
Labels: type: documentation

#7579 Stop all app containers when calling ps:stop
  docs/deployment/schedulers/scheduler-management.md
  docs/development/plugin-triggers.md
  plugins/app-json/appjson.go
  plugins/app-json/triggers.go
  plugins/cron/Makefile
  plugins/cron/cron.go
  plugins/cron/report.go
  plugins/cron/src/triggers/triggers.go
  plugins/cron/subcommands.go
  plugins/cron/triggers.go
  plugins/scheduler-docker-local/Makefile
  plugins/scheduler-docker-local/functions.go
  plugins/scheduler-docker-local/post-delete
  plugins/scheduler-docker-local/post-deploy
  plugins/scheduler-docker-local/scheduler-stop
  plugins/scheduler-docker-local/src/triggers/triggers.go
  plugins/scheduler-docker-local/triggers.go
  plugins/scheduler-k3s/k8s.go
  plugins/scheduler-k3s/triggers.go
  tests/unit/cron.bats
Labels: type: bug, merge-level: minor, plugin: ps, plugin: cron, type: bc-break, plugin: scheduler-docker-local

#7762 Reference new packeto buildpack urls
  tests/apps/python/project2.toml
Labels: type: tests

#7504 Only redeploy formations that have had their values changed
  plugins/ps/functions.go
  plugins/ps/subcommands.go
  plugins/ps/triggers.go
  tests/unit/ps-dockerfile-2.bats
Labels: type: enhancement, merge-level: minor, needs: tests

#7499 feat(nginx-vhosts): add support for custom nginx service command
  docs/networking/proxies/nginx.md
  plugins/nginx-vhosts/internal-functions
  plugins/nginx-vhosts/nginx_vhosts.go
  plugins/nginx-vhosts/src/nginx-property/nginx-property.go
  plugins/nginx-vhosts/subcommands/set
Labels: type: enhancement, merge-level: minor, plugin: nginx
